<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Player Not Found</title>
</head>

<body>
    <h1>Player Not Found</h1>
    <p>We could not find any statistics for <%= playerName %>.</p>
</body>

</html>